/* General Menu Styles */

.menu {
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #FBFCFA;
    list-style: none;
    padding: 4em 2em;
    box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1.5em 0;
}

.menu ul {
    padding: 0;
}

.menu li {
    margin-bottom: 2.5em;
    list-style-type: none;
}

.menu a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    color: #101422;
    padding: 0.5em 1em;
    display: block;
    transition: color 0.3s ease;
}

/* Hover and Active State */
.menu a:hover,
.menu a:focus {
    color: #34efdf;
}

/* Close Button */
.closeButton {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    color: #101422;
    background-color: #FBFCFA;
    padding: 0.7em 1em;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    border: 0.1em solid #101422;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.closeButton:hover {
    background-color: #4ECCA3;
    color: white;
}

/* Hamburger Button */
.hamburger {
    position: relative;
    top: 1.5em;
    left: 1.5em;
    padding: 0.5em;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger img {
    width: 2.5em;
    height: 2.5em;
}

/* Show Menu */
.showMenu {
    transform: translateX(0);
}

/* Media Query for Larger Screens */
@media (min-width: 800px) {
    .hamburger {
        display: none;
    }

    .menu {
        width: 30%;
    }
}
